//colors
$primaryColor1: rgb(255, 255, 255);
$primaryColor2: rgb(47, 93, 55);
$primaryColor3: rgb(0, 0, 0);
$primaryColor4: rgb(228, 228, 228);
$primaryColor5: rgb(210, 209, 209);
$primaryColor6: radial-gradient(rgb(255, 255, 255), rgba(23, 98, 62, 0.1));

//font-family
$fontRubrik: 'Public Sans', sans-serif;
$font: 'Raleway', sans-serif;

//font-Size
$fontSizeH2Desk: 3rem;
$fontParaDesk: 1.2rem;